<div class="form-card">
  <form [formGroup]="userForm" (ngSubmit)="signin()">
    <p class="error-text">{{ error }}</p>
    <div class="form-group">
      <label for="username"> Nom d'utilisateur:</label>
      <input class="form-control" type="text" formControlName="username" id="username">
    </div>
    <div class="form-group">
      <label for="password"> Mot de passe:</label>
      <input class="form-control" type="password" formControlName="password" id="password">
    </div>
    <div class="form-button">
      <button type="submit" class="button">Valider</button>
    </div>
  </form>
</div>
