.forum-section {
  margin-top: 25px;
  padding: 25px;
}

.input-section {
  margin-bottom: 25px;
}

.button {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  align-items: center;
  margin-right: 35px;
  padding: 5px 25px;
  width: fit-content;
}

#success-message {
  background-color: var(--green-validation);
  color: var(--white-color);
  width: fit-content;
  padding: 15px 25px;
}
