<div class="form-card">
  <form [formGroup]="userForm" (ngSubmit)="signup()">
    <p class="error-text">{{ error }}</p>
    <div class="form-group">
      <label for="username"> Nom d'utilisateur:</label>
      <input class="form-control" type="text" formControlName="username" id="username">
    </div>
    <div class="form-group">
      <label for="email"> Email:</label>
      <input class="form-control" type="text" formControlName="email" id="email">
    </div>
    <div class="form-group">
      <label for="password"> Mot de passe:</label>
      <input class="form-control" type="password" formControlName="password" id="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword"> Confirmation du mot de passe:</label>
      <input class="form-control" type="password" formControlName="confirmPassword" id="password">
      <div *ngIf="form['confirmPassword'].errors!['confirmedValidator']">Le mot de passe et sa confirmation doivent être identiques.</div>
    </div>
    <div class="form-button">
      <button type="submit" class="button">Valider</button>
    </div>
  </form>
</div>
