<div class="header">
  <h1>Forum</h1>
</div>
<div class="card">
  <div class="row">
    <button type="button" [ngClass]="{'active': signin}" class="button" (click)="connexion()">Se connecter</button>
    <button type="button" [ngClass]="{'active': !signin}" class="button" (click)="inscription()">S'inscrire</button>
  </div>
  <app-signin *ngIf="signin"></app-signin>
  <app-signup *ngIf="!signin" (signed_up)="signed_up($event)"></app-signup>
</div>
