<main class="forum-main" *ngIf="section">
  <section class="forum-section">
    <h1>{{section.title}}</h1>
    <div id="discussions" class="flex-column">
      <div class="cursor-pointer flex-row">
        <div class="button flex-row shadow">
          <img src="/assets/icons/return.png">
          <p routerLink="/forum-accueil">Retour aux sections</p>
        </div>
        <div class="button flex-row shadow">
          <img (click)="createDiscussion()" *ngIf="!newDiscussion" src="/assets/icons/discussion.png"/>
          <img (click)="cancelDiscussion()" *ngIf="newDiscussion" src="/assets/icons/cancel.png">
          <p (click)="createDiscussion()" *ngIf="!newDiscussion">Créer une nouvelle discussion</p>
          <p (click)="cancelDiscussion()" *ngIf="newDiscussion">Annuler</p>
        </div>
      </div>
      <app-create-discussion *ngIf="newDiscussion" (created)="getSection()"></app-create-discussion>
      <ng-container *ngFor="let discussion of section.discussions">
        <article class="cursor-pointer flex-row shadow" routerLink="/forum-discussion/{{section.id}}/{{discussion.id}}">
          <p>{{discussion.title}}</p>
          <p>Créé par : {{discussion.author.username}}, le : {{discussion.createdAt | date : 'dd-MM-yyyy'}}</p>
        </article>
      </ng-container>
    </div>
  </section>
</main>
