<main class="forum-main" *ngIf="discussion">
  <section class="forum-section">
    <div class="button flex-row shadow">
      <img src="/assets/icons/return.png">
      <p routerLink="/forum-section/{{sectionid}}">Retour aux discussions</p>
    </div>
    <h1>{{discussion.title}} <span>créé par :  {{discussion.author.username}}</span></h1>
    <span><img src="/assets/icons/thumbup.png" (click)="addLike()">{{discussion.likes.length}} likes</span>
    <article class="shadow message">
      <p [innerHTML]="discussion.firstMessage"></p>
      <div class="flex-row">
        <p>Posté par : {{discussion.author.username}}, le : {{discussion.createdAt | date : 'dd-MM-yyyy'}}</p>
      </div>
    </article>
    <ng-container *ngFor="let message of messages; let i = index">
      <article class="shadow message" *ngIf="messages">
        <p [innerHTML]="message.content"></p>
        <div class="flex-row">
          <p>Posté par : {{message.author.username}}, le : {{message.createdAt | date : 'dd-MM-yyyy'}}</p>
          <div *ngIf="isCurrentUserIdEqualsAuthorId(message.author.id)" class="button flex-row shadow cursor-pointer"
               (click)="clickedIndex = i">
            <img (click)="editMessage()" src="/assets/icons/discussion.png"
                 alt="icone editer">
            <p (click)="editMessage()">Éditer</p>
          </div>
        </div>
        <app-edit-message *ngIf="isEditedMessage && clickedIndex === i" [messageId]="message.id"></app-edit-message>
      </article>
    </ng-container>
    <div class="button flex-row shadow cursor-pointer">
      <img (click)="createMessage()" *ngIf="!newMessage" src="/assets/icons/discussion.png" alt="icone editer">
      <img (click)="cancelMessage()" *ngIf="newMessage" src="/assets/icons/cancel.png" alt="icone annuler">
      <p (click)="createMessage()" *ngIf="!newMessage">Répondre</p>
      <p (click)="cancelMessage()" *ngIf="newMessage">Annuler</p>
    </div>
    <app-create-message *ngIf="newMessage" (created)="getMessagesByDiscussionId(this.id)"></app-create-message>
  </section>
</main>
