section {
  padding: 25px;
}

h1 span {
  font-size: 0.7em;
  font-weight: normal;
}

.message {
  padding: 25px;
  margin-bottom: 25px;
}

img {
  width: 40px;
  margin-right: 15px;
}

.button {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  align-items: center;
  margin-right: 35px;
  padding: 5px 25px;
  width: fit-content;
}

.button:hover {
  cursor: pointer;
}

.flex-row {
  justify-content: space-between;
}
