<section>
  <div id="banner">
    <h1>Forum</h1>
    <ul>
      <li class="cursor-pointer" routerLink="/forum-accueil">Retour à l'accueil</li>
      <li class="cursor-pointer" (click)="logout()">Déconnexion</li>
    </ul>
  </div>
</section>
