section {
  display: flex;
  flex-direction: row;
  background: radial-gradient(var(--blue-color) 40%, var(--dark-blue-color) 85%);
  color: var(--white-color);
  height: 150px;
  position: relative;
  top: 0;
  z-index: 9999;
  width: 100%;
}

#logo {
  width: 100%;
  max-width:150px;
  height: 100%;
  position: absolute;
}

#banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

h1 {
  letter-spacing: 3px;
  font-family: 'Electrolize', sans-serif;
  font-size: 3em;
  margin-bottom: 0;
}

ul {
  padding-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

