:root {
  --dark-blue-color: #27355D;
  --blue-color: #628EDF;
  --blue-color-rgba: 98, 142, 223;
  --white-color: #f1f1f1;
  --dark-grey-blue-color: #454545;
  --greyish: #ECECEC;
  --green-validation: #358636;

}

body {
  margin: 0px;
  letter-spacing: 1.2px;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  letter-spacing: 4px;
}

h2 {
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.forum-main {
  display: flex;
  justify-content: center;
  padding: 4%;
}

.forum-section {
  background-color: var(--white-color);
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
